@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}

@layer components {
  .select {
    @apply w-full cursor-pointer appearance-none rounded-lg border-2 border-gray bg-black py-3.5 px-5 pr-8 font-poppins text-sm font-medium leading-tight text-white;
  }
}

.range {
  width: 100%;
  height: 14px;
  -webkit-appearance: none;
  background: #3772ff;
  outline: none;
  border-radius: 15px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #3772ff;
  cursor: pointer;
  border: 4px solid #fcfcfd;
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.2);
  left: -12px;
  top: -12px;
}
